# Dependency directories
node_modules/

# IDE related
.idea

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
.vercel

# OS-specific
.DS_Store

tmp

